target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

serveur/target/
serveur/pom.xml.tag
serveur/pom.xml.releaseBackup
serveur/pom.xml.versionsBackup
serveur/pom.xml.next
serveur/release.properties
serveur/dependency-reduced-pom.xml
serveur/buildNumber.properties
serveur/.mvn/timing.properties
serveur/serveur-1.0.jar

client/target/
client/tpom.xml.tag
client/tpom.xml.releaseBackup
client/tpom.xml.versionsBackup
client/tpom.xml.next
client/trelease.properties
client/tdependency-reduced-pom.xml
client/tbuildNumber.properties
client/t.mvn/timing.properties
client/client-1.0.jar