target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.settings/
.classpath
chat-1.0.jar
chat-1.0-jar-with-dependencies.jar
annuaire-1.0-jar-with-dependencies.jar
.project
.settings/org.eclipse.m2e.core.prefs
bin/
.metadata

annuaire/target/
annuaire/pom.xml.tag
annuaire/pom.xml.releaseBackup
annuaire/pom.xml.versionsBackup
annuaire/pom.xml.next
annuaire/release.properties
annuaire/dependency-reduced-pom.xml
annuaire/buildNumber.properties
annuaire/.mvn/timing.properties
annuaire/.settings/
annuaire/.classpath
annuaire/.project
annuaire/.settings/org.eclipse.m2e.core.prefs
annuaire/bin/
annuaire/.metadata

chat/target/
chat/pom.xml.tag
chat/pom.xml.releaseBackup
chat/pom.xml.versionsBackup
chat/pom.xml.next
chat/release.properties
chat/dependency-reduced-pom.xml
chat/buildNumber.properties
chat/.mvn/timing.properties
chat/.settings/
chat/.classpath
chat/.project
chat/.settings/org.eclipse.m2e.core.prefs
chat/bin/
chat/.metadata